/* src/index.css or App.css */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #fbfdff;
}

body {
  display: flex;
  flex-direction: column;
}







/* Hide scrollbar cross-browser */
/* Hide scrollbar cross-browser */
.scroll-container::-webkit-scrollbar {
  display: none;
}
.scroll-container {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}
@keyframes scroll {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes scroll {
  0% { transform: translateX(0%); }
  100% { transform: translateX(-50%); }
}
.animate-scroll {
  animation: scroll 30s linear infinite;
}
/* optional to hide scrollbars on any overflow-x-auto element */
.no-scrollbar::-webkit-scrollbar { display: none; }
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }

/* Add this CSS in your global stylesheet or inline within the component's styles */

.scrolling-wrapper {
  display: flex;
  gap: 6px;
  animation: scrollInfinite 20s linear infinite;
}

@keyframes scrollInfinite {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}
